<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="theme-color" content="#fbfbfc">
	<title>TALLY HO SUPPER CLUB</title>

	<link href="assets/imgs/sign.png" rel="apple-touch-icon">
	<link href="./manifest.json" rel="manifest" />
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/icomoon/style.css" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<div class="container-fluid container">
				<h4 href="#" id="companyName">Tally Ho Supper Club</h4>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#menu">Menu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#events">Events and Announcements</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
			We will be closed Sunday, July 19th 2021 and Sunday, July 26 2021 for Private Parties. Sorry for any inconvenience!
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="container mt-5 featurette">
			<h2 class="heading welcomeHeader">Welcome, Our family welcomes yours!</h2>
			<p class="lead featureContent">It is with great honor and respect that we welcome our attendants to Tally Ho Supper Club. We greatly appreciate your choice of dining with us and we expect to serve you with the utmost excellence. Experience
				spectacular fine dining in a supper club that will leave you fully satisfied.</p>
		</div>


		<!-- <img id="main-img" alt="IfItDoesntMatchAnyMedia"> -->


		<div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="assets/imgs/tall1.jpg" alt="...">
				</div>
				<div class="carousel-item">
					<img src="assets/imgs/tall2.jpg" alt="...">
				</div>
				<div class="carousel-item">
					<img src="assets/imgs/tall3.jpg" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- Marketing messaging and featurettes
  ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">
			<!-- START THE FEATURETTES -->
			<div class="featurette" id="menu"></div>

			<div class="row featurette" id="events">
				<hr class="my-4">
				<h2 class="heading">Events</h2>
				<div class="col-md-4">
					<img class="w-100 h-100" src="assets/imgs/events1.jpg" alt="special">
				</div>
				<div class="col-md-4 eventPadding">
					<img class="w-100 h-100" src="assets/imgs/events2.jpg" alt="special">
				</div>
				<div class="col-md-4 eventPadding">
					<img class="w-100 h-100" src="assets/imgs/events3.jpg" alt="special">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="featurette" id="contact">
				<h2 class="heading">Contact</h2>
				<div class="row justify-content-center m-auto">
					<div class="col-lg-6">
						<div class="contactInfo">
							<i class="icon-telephone"></i>
							<h4>Phone Number</h4>
							<span>(715) 462-3646</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="contactInfo">
							<i class="icon-envelope"></i>
							<h4>Email</h4>
							<span>tallyhosupperclub@gmail.com</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="contactInfo">
							<i class="icon-geo-alt-fill"></i>
							<h4>Address</h4>
							<span>10432 WI-77, Hayward, WI 54843</span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="contactInfo">
							<i class="icon-shop-window"></i>
							<h4>Hours</h4>
							<span><b>Lunch</b>: 11am-3pm</span><br />
							<span><b>Dinner</b>: 4pm-9pm</span><br />
						</div>
					</div>
				</div>
			</div>

			<hr class="featurette-divider">

			<!-- /END THE FEATURETTES -->

		</div><!-- /.container -->

		<!-- FOOTER -->
		<footer class="container">
			<div class="contactInfo d-flex justify-content-evenly">
				<a href="https://www.facebook.com/pages/category/American-Restaurant/Tally-Ho-Hayward-Wisconsin-1048313522021955/">
					<i class="icon-facebook"></i>
				</a>
				<a href="https://www.pinterest.com/pin/552113235548673256/">
					<i class="icon-pinterest2"></i>
				</a>
				<a href="https://www.tripadvisor.com/Restaurant_Review-g59952-d3841458-Reviews-Tally_Ho_Supper_Club-Hayward_Wisconsin.html">
					<i class="icon-binoculars"></i>
				</a>
			</div>
			<div>
				<p class="text-center">&copy; 2021 Tally Ho Supper Club</p>
			</div>
		</footer>
	</main>
	<script src="assets/blueimp-tmpl/js/tmpl.min.js" charset="utf-8"></script>
	<script src="assets/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>

	<script type="text/x-tmpl" id="menu-tmpl">
		<hr class="my-4">
		<h2 class="heading">Menu</h2>
		<ul class="nav nav-pills justify-content-center" role="tablist">
			{% for (let i = 0; i < o.ids.length; i++) { %}
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="{%=o.ids[0]%}-tab" data-bs-toggle="tab" data-bs-target="#{%=o.ids[0]%}" type="button" role="tab" aria-controls="{%=o.ids[0]%}" aria-selected="true">
						{%=o.ids[0]%}
					</button>
				</li>
			{% } %}
		</ul>
		<div class="tab-content">
			{% for (let i = 0; i < o.ids.length; i++) { %}
				{% if (i == 0) { %}
					<div class="tab-pane fade show active" id="{%=o.ids[0]%}" role="tabpanel" aria-labelledby="{%=o.ids[0]%}-tab"></div>
				{% } else { %}
					<div class="tab-pane fade" id="{%=o.ids[0]%}" role="tabpanel" aria-labelledby="{%=o.ids[0]%}-tab"></div>
				{% } %}
			{% } %}
		</div>
	</script>
	<script type="text/x-tmpl" id="item-card-tmpl">
		<h2 class="menu-sub-title">{%=o.title%}</h2>
		<div class="menu-list">
			{% for (let i = 0; i < o.menu.length; i++) { %}
				<div class="row menu-item">
					<h4 class="menu-item-title">
						{%=o.menu[i].name%}
					</h4>
					<h4 class="menu-price">${%=o.menu[i].price%}</h4>
					<div class="menu-detail">
						{%=o.menu[i].description%}
					</div>
				</div>
			{% } %}
		</div>
	</script>
	<script src="assets/js/site.js" charset="utf-8"></script>
</body>

</html>
