.container {
  width: 80%;
  max-width: 100%;
  padding: 0;
  padding-bottom: 5%;
  box-shadow: 0 0 0 1000px black;
}

.panel p {
  margin-bottom: 5px;
}

.btn-danger {
  color: lightgreen;
  width: 200px;
  margin: 15px 5px 0px 5px;
}

.navbar-collapse a {
  display: inline-grid;
}

.panel-body, .question div {
  font-size: 14pt;
}

.question {
  margin-bottom: 20px;
  margin-top: 25px;
  width: 70%;
}

.question div {
  margin-left: 5%;
}

.topImgs {
  width: 40%;
}

.link {
  color: #00FFFF;
}

#aboutus .panel-heading {
  margin-top: 5%;
  margin-left: 60%;
}

#aboutus .panel-body {
  width: 40%;
  float: right;
}

#joinus .panel-body {
  margin-top: 3%;
  width: 45%;
  float: none;
}

#joinus img {
  float: right;
}

.contText {
  font-size: 14pt;
}

body {
  background: url(images/newlogobg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  color: black;
}

#navbarNavDropdown {
  background: transparent;
  position: fixed;
}

#topdiv, #topmid, #faq, #contactus {
  padding: 5% 5%;
}

/* Request Page */

.request .form-control {
  width: 30%;
}

#instructions1 {
  color: black;
  font-size: 24pt;
  font-weight: 600;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.request {
  padding-left: 10%;
}

/* Login/Forgot Pass page */

.d-flex {
  height: 100vh;
}

.card {
  background: linear-gradient(rgb(169, 195, 189, 0.8) 5%, rgba(0, 225, 225, 0.8) 20%, rgb(169, 195, 189, 0.8));
  width: 30%;
}

h2, #TextBox1, #TextBox2, .submit {
  margin-bottom: 5%;
}

/* Smartphones (Portrait) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  /* Login/Forgot Pass page */
  .card {
    width: 100%;
    margin-bottom: 100%;
  }
  h2 {
    font-size: 24px;
  }
  /* Request Page */
  #instructions1 {
    font-size: 12pt;
  }
  #Calendar1, #Calendar2 {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .ui-datepicker {
    width: 100%;
    padding: 0;
  }
  .ui-widget {
    font-size: 0.9em;
  }
  .ui-datepicker table {
    font-size: 0.9em;
  }
  #Calendar1 .ui-datepicker table td a, #Calendar2 .ui-datepicker table td a {
    font-size: 10pt;
    display: block;
  }
  .request .form-control {
    width: 70%;
    font-size: 10pt;
  }
  p {
    font-size: 10pt;
  }
  /* Homepage */
  h1, h2 {
    font-size: 14pt;
  }
  .btn-danger {
    font-size: 10pt;
    width: 100%;
  }
  h3 {
    font-size: 12pt;
  }
  h5 {
    font-size: 11pt
  }
  .panel-body, .question div {
    font-size: 9pt;
  }
  .question {
    width: 100%;
  }
  #joinus img {
    float: unset;
    padding-top: 15%;
    padding-bottom: 5%;
  }
  .topImgs {
    width: 70%;
    padding-top: 10%;
    padding-bottom: 5%;
    display: block;
    margin: 0 auto;
    float: unset;
  }
  #aboutus .panel-body {
    width: 100%;
  }
  #joinus .panel-body {
    width: 100%;
  }
  .contText {
    font-size: 12pt;
  }
  #navbarNavDropdown {
    position: unset;
  }
  #topdiv, #topmid, #faq, #contactus {
    padding: 15% 5%;
  }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
  /* Login/Forgot Pass page */
  .card {
    width: 50%;
    height: 95%;
    margin-top: 35px;
  }
  #form1 {
    display: inline;
  }
  #TextBox1, #TextBox2, .submit {
    font-size: 16px;
    margin-bottom: 3%;
  }
  h2 {
    font-size: 24px;
  }
  /* Request Page */
  #instructions1 {
    font-size: 12pt;
  }
  #Calendar1, #Calendar2 {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .ui-datepicker {
    width: 100%;
    padding: 0;
  }
  .ui-widget {
    font-size: 0.9em;
  }
  .ui-datepicker table {
    font-size: 0.9em;
  }
  #Calendar1 .ui-datepicker table td a, #Calendar2 .ui-datepicker table td a {
    font-size: 10pt;
    display: block;
  }
  .request .form-control {
    width: 50%;
    font-size: 10pt;
  }
  #TextBox1, #TextBox2, p {
    font-size: 10pt;
  }
  /* Homepage */
  h1, h2 {
    font-size: 18pt;
  }
  .btn-danger {
    font-size: 12pt;
    width: 100%;
  }
  h3 {
    font-size: 14pt;
  }
  h5 {
    font-size: 12pt
  }
  .panel-body, .question div {
    font-size: 10pt;
  }
  .question {
    width: 80%;
  }
  .topImgs {
    margin-top: 5%;
  }
  #aboutus .panel-body {
    width: 55%;
  }
  #joinus .panel-body {
    margin-top: 20%;
    width: 55%;
  }
  .contText {
    font-size: 12pt;
  }
  #navbarNavDropdown {
    position: unset;
  }
}

/* Tablet (Portrait) ----------- */

@media only screen and (min-device-width: 737px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Login/Forgot Pass page */
  .card {
    margin-bottom: 0;
    width: 75%;
  }
  /* Request Page */
  #instructions1 {
    font-size: 16pt;
  }
  #Calendar1, #Calendar2 {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .ui-datepicker {
    width: 100%;
    padding: 0;
  }
  .ui-widget {
    font-size: 0.9em;
  }
  .ui-datepicker table {
    font-size: 0.9em;
  }
  #Calendar1 .ui-datepicker table td a, #Calendar2 .ui-datepicker table td a {
    font-size: 14pt;
    display: block;
  }
  .request .form-control {
    width: 50%;
  }
  .request {
    padding-left: 5%;
  }
  /* Homepage */
  h1, h2 {
    font-size: 22pt;
  }
  .btn-danger {
    font-size: 12pt;
    width: 100%;
  }
  li {
    padding-right: 5px;
  }
  h3 {
    font-size: 18pt;
  }
  h5 {
    font-size: 14pt
  }
  .panel-body, .question div {
    font-size: 11pt;
  }
  .question {
    width: 80%;
  }
  .topImgs {
    margin-top: 5%;
  }
  #aboutus .panel-body {
    width: 55%;
  }
  #joinus .panel-body {
    margin-top: 20%;
    width: 55%;
  }
  .contText {
    font-size: 12pt;
  }
  #navbarNavDropdown {
    position: unset;
  }
}

/* Tablet (landscape) ----------- */

@media only screen and (min-device-width: 737px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Login/Forgot Pass page */
  .card {
    width: 60%;
  }
  /* Request Page */
  #instructions1 {
    font-size: 16pt;
  }
  #Calendar1, #Calendar2 {
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .ui-datepicker {
    width: 100%;
    padding: 0;
  }
  .ui-widget {
    font-size: 0.9em;
  }
  .ui-datepicker table {
    font-size: 0.9em;
  }
  #Calendar1 .ui-datepicker table td a, #Calendar2 .ui-datepicker table td a {
    font-size: 16pt;
    display: block;
  }
  .request .form-control {
    width: 50%;
  }
  .request {
    padding-left: 5%;
  }
  /* Homepage */
  h1, h2 {
    font-size: 22pt;
  }
  .btn-danger {
    font-size: 12pt;
    width: 100%;
  }
  .nav {
    width: 100vw;
  }
  h3 {
    font-size: 18pt;
  }
  h5 {
    font-size: 14pt
  }
  .panel-body, .question div {
    font-size: 12pt;
  }
  .question {
    width: 80%;
  }
  .topImgs {
    margin-top: 5%;
  }
  #aboutus .panel-body {
    width: 50%;
  }
  #joinus .panel-body {
    margin-top: 5%;
    width: 52%;
  }
  .contText {
    font-size: 12pt;
  }
}

/* Device = Laptops, Desktops 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Login/Forgot Pass page */
  .card {
    width: 60%
  }
  /* Request Page looks fine with defualt, so nothing needed here */
  /* Homepage */
  .btn-danger {
    font-size: 12pt;
    width: 100%;
  }
  .nav {
    width: 100vw;
  }
  li {
    padding-right: 5px;
  }
  h3 {
    font-size: 20pt;
  }
  .panel-body, .question div {
    font-size: 12pt;
  }
  .question {
    width: 85%;
  }
  .topImgs {
    margin-top: 5%;
  }
  #aboutus .panel-body {
    width: 50%;
  }
  #joinus .panel-body {
    margin-top: 5%;
    width: 52%;
  }
  .contText {
    font-size: 12pt;
  }
}
