/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  height: 100vh;
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);

}

button {
  font-size: 16px;
  line-height: 32px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  transition: opacity 0.5s ease;
}

a {
  margin-bottom: 30px;
}

button,
button a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

button:hover {
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

#com {
  background-color: #343a40;
}

#alien {
  background-color: #28a745;
}

#react {
  background-color: #138496;
}

#al {
  background-color: lightseagreen;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 26px;
    line-height: 52px;
  }
  button {
    font-size: 18px;
    line-height: 36px;
    width: 175px;
    height: 175px;
  }

  .container {
    grid-gap: 30px;
    margin: auto;
    width: 50%;
  }
}
