@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.badge {
  @apply flex min-h-9 transform cursor-default items-center gap-1.5 rounded-md border border-outline bg-background px-3 py-1.5 text-sm font-medium text-text transition;
}

.btn {
  @apply inline-flex min-h-11 min-w-11 items-center justify-center gap-2 rounded-md bg-primary px-3 py-2 pr-3.5 text-sm font-semibold text-on-primary hover:bg-primary-tint hover:text-gray-800 xs:justify-start xs:self-start;
}

.footer-icon-base {
  @apply flex size-11 items-center justify-center rounded-md p-2 font-medium text-text hover:bg-background-tint;
}

.footer-link {
  @apply relative text-sm text-text-muted hover:text-text hover:underline;
}

[type="button"] {
  animation: button-pop 0.25s ease-out;
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

[type="button"]:not([disabled]):active:hover,
[type="button"]:not([disabled]):active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(0.98);
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
