/* npx tailwindcss build -i css/input.css -o css/build.css --minify */

@tailwind base;
@tailwind components;
@tailwind utilities;

.badge {
  @apply flex min-h-9 transform cursor-default items-center gap-1.5 rounded-md border border-secondary/25 bg-[#afc2ef0d]  px-3 py-1.5 text-sm font-medium text-secondary transition dark:border-secondary-dark/25 dark:bg-[#223e801a] dark:text-secondary-dark;
}

.btn {
  @apply inline-flex min-h-11 min-w-11 items-center justify-center gap-2 rounded-md bg-accent px-3 py-2 pr-3.5 text-sm font-semibold text-primary-dark hover:bg-accent/85 xs:justify-start xs:self-start dark:bg-accent-dark dark:text-primary hover:dark:bg-accent-dark/85;
}

.footer-icon-base {
  @apply flex size-11 items-center justify-center rounded-md p-2 font-medium text-secondary dark:text-secondary-dark;
}

.footer-link {
  @apply relative text-sm text-secondary/85 hover:text-secondary/100 hover:underline dark:text-secondary-dark/85 dark:hover:text-secondary-dark/100;
}

[type="button"] {
  animation: button-pop 0.25s ease-out;
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

[type="button"]:not([disabled]):active:hover,
[type="button"]:not([disabled]):active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(0.98);
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
