@import './theme.css';

@import 'tailwindcss';

@theme {
  --breakpoint-xs: 420px;

  --color-background: var(--color-background);
  --color-background-tint: var(--color-background-tint);
  --color-primary: var(--color-primary);
  --color-primary-tint: var(--color-primary-tint);
  --color-on-primary: var(--color-on-primary);
  --color-secondary: var(--color-secondary);
  --color-secondary-tint: var(--color-secondary-tint);
  --color-on-secondary: var(--color-on-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-tertiary-tint: var(--color-tertiary-tint);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-outline: var(--color-outline);
  --color-default: var(--color-text);
  --color-muted: var(--color-text-muted);
}

@layer base {
  * {
    transition-property: color, background-color, border-color, opacity,
      box-shadow, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  [type='button'] {
    animation: button-pop 0.25s ease-out;
  }

  [type='button']:not([disabled]):active:hover,
  [type='button']:not([disabled]):active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(0.98);
  }

  @keyframes button-pop {
    0% {
      transform: scale(0.98);
    }
    40% {
      transform: scale(1.02);
    }
    to {
      transform: scale(1);
    }
  }
}

@layer components {
  .btn {
    @apply inline-flex min-h-9 cursor-pointer items-center justify-center rounded-md px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors;
  }

  .btn-svg {
    @apply pointer-events-none mr-2 -ml-1 size-4;
  }

  .btn-sm {
    @apply px-3 py-1.5;
  }

  .btn-ghost {
    @apply text-default hover:bg-secondary-tint focus-visible:ring-secondary-tint bg-transparent hover:text-gray-700;
  }

  .btn-primary {
    @apply bg-primary text-on-primary hover:bg-primary-tint focus-visible:ring-primary-tint hover:text-gray-700;
  }

  .btn-secondary {
    @apply bg-secondary text-on-secondary hover:bg-secondary-tint focus-visible:ring-secondary-tint hover:text-gray-700;
  }

  .footer-link {
    @apply text-muted hover:text-default relative text-sm hover:underline;
  }

  .input {
    @apply bg-background text-default flex min-h-9 w-full rounded-md border px-3 py-2 text-sm;
  }
}
