/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

article,
section, header,
nav,
footer,
nav a:hover,
img {
  border-radius: 1.25em;      /* 20px/16px = 1.25em */
  background-color:#EEE;
}

footer {
  padding: 1% 0;
  color: white;
}

header h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 2em;              /* 32px/16px = 2em */
  text-align: center;
  padding-top: 0.46875em;      /* 15px/32px = 0.46875em */
  padding-bottom: 0.9375em;    /* 30px/32px = 0.9375em */
  font-weight: bold;
}

html,
#search {
    background: linear-gradient(to bottom right, #006666, #669999, #40bf80, #40bf80, #f2ffe6) fixed;
}

img {
  width: 100%;
  max-width: 100%;
  max-height: 65vh;
  margin: auto;
}

nav,
footer {
  background-color: #333;
  margin-top: 1.875em;        /* 30px/16px = 1.875em */
  margin-bottom: 1.875em;     /* 30px/16px = 1.875em */
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav a {
  font-family: 'Poppins';
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5% 0;
	text-decoration: none;
}

nav a:hover {
	background-color: #000;
}

section, header {
  background-color: #EEE;
}

section h1 {
  font-family: 'Poppins';
  font-weight: bold;
  margin: 0px 0px 10px 25px;
  font-size: 1.125em;          /* 18px/16px = 1.125em */
  padding-top: 1.11111em;      /* 20px/18px = 1.11111em */
}

section p,
section ul {
  font-family: 'Poppins';
  color: #404040;
  font-weight: lighter;
  font-size: 0.875em;          /* 14px/16px = 0.875em */
  line-height: 2em;            /* 28px/14px = 2em */
  margin-left: 2.85714em;      /* 40px/14px = 2.85714em */
  margin-right: 1.78571em;     /* 25px/14px = 1.78571em */
  padding-bottom: 0.42857em;   /* 20px/14px = 0.42857em */
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#load {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: disc;
}

#search {
  font-size: 0.875em;                /* 14px/16px = 0.875em */
  line-height: 2em;                  /* 28px/14px = 2em */
  border-radius: 1.42857em;          /* 20px/14px = 1.42857em */
  margin: 0.71428em 2.85714em 1.78571em 2.85714em;    /* 10px/14px = 0.71428em  40px/14px = 2.85714em  25px/14px = 1.78571em*/
  padding: 0 1.78571em;              /* 25px/14px = 1.78571em*/
}

.overlay {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup {
  margin: 50% 10%;
  padding: 1.25em;    /*20px/16px = 1.25em*/
  width: 70%;
  position: fixed;
}

.popup .close {
  position: absolute;
  font-size: 1.875em;    /*30px/16px = 1.875em*/
  right: 1em;            /*30px/30px = 1em*/
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 555px) {
  article {
    display: grid;
    width: 83vw;
    grid-template-areas:
    'nav nav'
    'header container'
    'footer footer';
  }

  footer {
    grid-area: footer;
  }

  header {
    grid-area: header;
  }

  header, img {
    width: 25vw;
  }

  header h1 {
    font-size: 2.125em;    /*34px/16px = 2.125em*/
  }

  main {
    margin: 0 3.125em;      /*50px/16px = 3.125em*/
    padding: 3.125em 0px;   /*50px/16px = 3.125em*/
  }

  nav,
  footer {
    width: 95%;
  }

  nav {
    grid-area: nav;
  }

  nav a {
    padding: 3% 0;
  }

  section h1 {
    font-size: 1.15em;    /*20px/16px = 1.15em*/
  }

  section p,
  section ul,
  nav,
  footer,
  #search {
    font-size: 1em;    /*16px/16px = 1em*/
    line-height: 2em;  /*32px/16px = 2em*/
  }

  #content {
    grid-area: container;
  }

  .overlay {
    right: 0;
    display: none;
    padding-bottom: 20%;
  }

}

@media screen and (min-width: 1080px) {
  header h1 {
    font-size: 2.75em;    /*44px/16px = 2.75em*/
  }
  
  main {
    width: 83vw;
    margin: 0 auto;
  }

  nav,
  footer {
    width: 100%;
  }

  section h1 {
    font-size: 1.5em;    /*24px/16px = 1.5em*/
  }

  section p,
  section ul,
  nav,
  footer,
  #search {
    font-size: 1.125em;    /*18px/16px = 1.125em*/
    line-height: 2em;      /*36px/18px = 2em*/
  }

  .popup {
    margin: 35% 15%;
  }
}
