---
import GithubSvg from "@/components/icons/GithubSvg.astro";
import LinkedInSvg from "@/components/icons/LinkedInSvg.astro";
---

<footer
  class="mx-auto grid w-full max-w-2xl grid-cols-2 gap-6 border-t px-6 pb-8 pt-6 sm:grid-cols-4 sm:grid-rows-1 sm:gap-y-4 sm:pb-12 sm:pt-8 md:px-0 lg:pt-7"
>
  <div class="col-span-2 flex flex-col gap-3">
    <ul class="flex flex-row items-center gap-1.5">
      <li>
        <a
          aria-label="Github"
          class="btn btn-ghost btn-sm"
          title="GitHub"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/mflavin"
        >
          <GithubSvg />
        </a>
      </li>
      <li>
        <a
          aria-label="LinkedIn"
          class="btn btn-ghost btn-sm"
          title="LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
          href="/"
        >
          <LinkedInSvg />
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-sm font-semibold">Navigate</h2>
    <ul
      title="Navigation links"
      aria-label="Navigation links"
      class="mt-3 space-y-4"
    >
      <li>
        <a class="footer-link" title="Home" href="/">Home</a>
      </li>
      <li>
        <a class="footer-link" title="About" href="/">About</a>
      </li>
      <li>
        <a class="footer-link" title="Projects" href="/">Projects</a>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-sm font-semibold">Misc</h2>
    <ul
      title="Miscellaneous links"
      aria-label="Miscellaneous links"
      class="mt-3 space-y-4"
    >
      <li>
        <a class="footer-link" title="Contact" href="/">Contact</a>
      </li>
      <li>
        <a class="footer-link" title="Scroll back to top" href="#">
          Back to Top
        </a>
      </li>
    </ul>
  </div>
</footer>
