---
import GithubSvg from "public/images/github.svg";
import LinkedinSvg from "public/images/linkedin.svg";
import DarkModeToggle from "@components/DarkModeToggle.astro";
---

<footer class='w-full max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 sm:mt-14'>
  <div
    class='py-6 border-t border-border flex flex-col sm:flex-row sm:justify-between items-end gap-y-6'
  >
    <div class='flex justify-between sm:order-1'>
      <!-- Spacer -->
      <div></div>

      <ul class='flex items-center gap-x-3'>
        <li class='inline-block'>
          <a
            class='btn btn-rounded'
            title='My LinkedIn profile'
            aria-label='My LinkedIn profile'
            type='button'
            target='_blank'
            rel='noopener noreferrer'
            href='https://www.linkedin.com/in/matt-flavin/'
          >
            <span class='sr-only'>LinkedIn</span>
            <LinkedinSvg class='size-4' />
          </a>
        </li>
        <li class='inline-block'>
          <a
            class='btn btn-rounded'
            title='More about me'
            aria-label='More about me'
            type='button'
            target='_blank'
            rel='noopener noreferrer'
            href='https://github.com/mflavin'
          >
            <span class='sr-only'>Github</span>
            <GithubSvg class='size-4' />
          </a>
          <li class='inline-block'>
            <DarkModeToggle />
          </li>
        </li>
      </ul>
    </div>

    <div class='flex items-center justify-between gap-x-4'>
      <h2 class='text-sm font-medium text-muted-foreground'>
        Previous Portfolio Versions
      </h2>
      <ul class='flex items-center gap-2 mb-0'>
        <li>
          <a
            href='/.old/v4/index.html'
            target='_blank'
            rel='noopener noreferrer'
            class='btn px-3 py-1 min-h-0 text-xs font-medium'
          >
            V4
          </a>
        </li>
        <li>
          <a
            href='/.old/v3/index.html'
            target='_blank'
            rel='noopener noreferrer'
            class='btn px-3 py-1 min-h-0 text-xs font-medium'
          >
            V3
          </a>
        </li>
        <li>
          <a
            href='/.old/v2/index.html'
            target='_blank'
            rel='noopener noreferrer'
            class='btn px-3 py-1 min-h-0 text-xs font-medium'
          >
            V2
          </a>
        </li>
        <li>
          <a
            href='/.old/v1/index.html'
            target='_blank'
            rel='noopener noreferrer'
            class='btn px-3 py-1 min-h-0 text-xs font-medium'
          >
            V1
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
