---
import { Image } from "astro:assets";
import profileImage from "@/images/profile_image.png";
---

<div>
  <div class="flex items-center gap-x-3">
    <div>
      <Image
        alt="mflavin"
        loading="eager"
        fetchpriority="high"
        width="64"
        height="64"
        class="rounded-full"
        src={profileImage}
      />
    </div>

    <div>
      <h1 class="text-lg font-medium text-foreground">mflavin</h1>
      <p class="text-sm text-muted-foreground">Full Stack Web Developer</p>
    </div>
  </div>

  <p class="mt-8 text-sm text-muted-foreground text-pretty">
    I'm a passionate full stack web developer with a focus on building
    accessible, performant, and user-friendly web applications. I love exploring
    new technologies and trying out new ideas in my projects.
  </p>

  <div class="mt-5 flex items-center gap-x-2">
    <span class="text-sm text-muted-foreground">
      Check out my
      <a
        class="text-primary hover:underline"
        title="More about me"
        aria-label="More about me"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/mflavin"
      >
        GitHub profile</a
      >
      <span class="text-muted-foreground">
        for more projects and contributions.
      </span>
    </span>
  </div>
</div>
