---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="flex flex-col gap-6">
  <div
    class="flex w-full flex-col items-start gap-4 sm:flex-row sm:items-center sm:justify-between"
  >
    <h2 class="text-2xl">{title}</h2>
    <slot name="title" />
  </div>
  <slot />
</section>
