---
import { groupedSkills } from "@data/skills";
import SkillsList from "@/components/SkillsList.astro";
---

<div>
  <h2 class='mb-5 font-medium text-foreground'>Skills</h2>

  <div class='space-y-3'>
    {
      groupedSkills.map((groupedSkill) => (
        <dl class='flex flex-col sm:flex-row gap-y-1.5 gap-x-6'>
          <dt class='min-w-40'>
            <span class='block text-sm text-muted-foreground'>
              {groupedSkill.categoryName}:
            </span>
          </dt>
          <dd class='inline-flex'>
            <SkillsList skills={groupedSkill.skills} />
          </dd>
        </dl>
      ))
    }
  </div>
</div>
