---
import AstroSvg from "public/images/astro.svg";
import AwsSvg from "public/images/aws.svg";
import ChartJsSvg from "public/images/chartjs.svg";
import CssSvg from "public/images/css.svg";
import CypressSvg from "public/images/cypress.svg";
import DjangoSvg from "public/images/django.svg";
import FirebaseSvg from "public/images/firebase.svg";
import GraphqlSvg from "public/images/graphql.svg";
import Html5Svg from "public/images/html.svg";
import JavascriptSvg from "public/images/javascript.svg";
import JestSnapshotSvg from "public/images/jest.svg";
import MysqlSvg from "public/images/mysql.svg";
import NodejsSvg from "public/images/nodejs.svg";
import NuxtSvg from "public/images/nuxt.svg";
import PrimeVueSvg from "public/images/primevue.svg";
import PythonSvg from "public/images/python.svg";
import SupabaseSvg from "public/images/supabase.svg";
import TailwindcssSvg from "public/images/tailwindcss.svg";
import TypescriptSvg from "public/images/typescript.svg";
import UnknownSvg from "public/images/unknown.svg";
import VitestSvg from "public/images/vitest.svg";
import VueSvg from "public/images/vue.svg";
import VuetifySvg from "public/images/vuetify.svg";

let icons = [
  // Languages
  { src: VueSvg, title: "Vue", id: "vue" },
  { src: TypescriptSvg, title: "TypeScript", id: "typescript" },
  { src: JavascriptSvg, title: "JavaScript", id: "javascript" },
  { src: NodejsSvg, title: "Node.js", id: "nodejs" },
  { src: PythonSvg, title: "Python", id: "python" },
  { src: DjangoSvg, title: "Django", id: "django" },
  { src: NuxtSvg, title: "Nuxt", id: "nuxt" },
  { src: AstroSvg, title: "Astro", id: "astro" },

  // Styling
  { src: Html5Svg, title: "HTML5", id: "html5" },
  { src: CssSvg, title: "CSS", id: "css" },
  { src: TailwindcssSvg, title: "Tailwind CSS", id: "tailwindcss" },
  { src: VuetifySvg, title: "Vuetify", id: "vuetify" },
  { src: PrimeVueSvg, title: "PrimeVue", id: "primevue" },

  // Utilities
  { src: ChartJsSvg, title: "Chart.js", id: "chartjs" },

  // Databases
  { src: GraphqlSvg, title: "GraphQL", id: "graphql" },
  { src: AwsSvg, title: "AWS", id: "aws" },
  { src: FirebaseSvg, title: "Firebase", id: "firebase" },
  { src: SupabaseSvg, title: "Supabase", id: "supabase" },
  { src: MysqlSvg, title: "MySQL", id: "mysql" },

  // Testing
  { src: VitestSvg, title: "Vitest", id: "vitest" },
  { src: JestSnapshotSvg, title: "Jest Snapshot", id: "jest_snapshot" },
  { src: CypressSvg, title: "Cypress", id: "cypress" },
];

interface Props {
  svgIds?: string[];
  class?: string;
}

const { class: className, svgIds = [] } = Astro.props;

if (svgIds.length > 0) {
  // Filter out icons based on ids given
  icons = icons.filter((icon) => svgIds.includes(icon.id));

  // Add in ids that are not defined
  svgIds.forEach((id) => {
    if (!icons.find((icon) => icon.id === id)) {
      icons.push({ src: UnknownSvg, title: id, id });
    }
  });
}
---

<ul class="flex flex-wrap gap-2" aria-label="List of skills">
  {
    icons.map((svg) => (
      <li
        class={`badge hover:-translate-y-0.5 transition-transform ease-in-out ${className}`}
        title={svg.title}
        aria-label={svg.title}
      >
        {svg.src.src.split("/").pop()?.split(".")[0] === "unknown" ? (
          <svg.src height="0" width="0" />
        ) : (
          <svg.src height="18" width="18" />
        )}
        <span class="ml-1">{svg.title}</span>
      </li>
    ))
  }
</ul>

<script>
  // TODO: Maybe add a click to have an active skill and how related projects
</script>
