<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.tailwindcss.com"></script>

<div id="app" class="bg-white dark:bg-gray-500 px-10 py-8">
  <div
    class="grid grid-flow-col gap-3 grid-rows-3 sm:grid-rows-2 md:grid-rows-1"
  >
    <div>
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        internet plan
      </label>
      <div class="flex">
        <select
          v-model="internetPlan"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm max-w-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="xfinity">xfinity</option>
          <option value="verison">verison fios</option>
        </select>
        <button
          @click="internetPlan = ''"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          X
        </button>
      </div>
    </div>

    <div v-for="p in people" :key="p">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        phone plan
      </label>
      <div class="flex">
        <select
          v-model="phonePlans[p]"
          @change="checkPhonePlan($event?.target?.value)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm max-w-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option
            v-for="plan in getPhonePlans"
            :key="plan"
            :value="plan"
            :disabled="disableCurrent(plan)"
          >
            {{ plan }}
          </option>
        </select>
        <button
          @click="delete phonePlans[p]"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          X
        </button>
      </div>
    </div>
  </div>

  <button
    @click="internetPlan = ''; phonePlans = {}"
    type="button"
    class="mt-4 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Reset Options
  </button>

  <div class="spacer pb-8"></div>

  <div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-300">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-300"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Plan</th>
          <th scope="col" class="py-3 px-6">Cost</th>
          <th scope="col" class="py-3 px-6">Taxes</th>
          <th scope="col" class="py-3 px-6">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-if="internetPlan"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            {{ internetPlan }}
          </th>
          <td class="py-4 px-6">${{ getInternetCost.cost }}</td>
          <td class="py-4 px-6">${{ getInternetCost.taxes }}</td>
          <td class="py-4 px-6">
            ${{ getInternetCost.cost + getInternetCost.taxes }}
          </td>
        </tr>
        <tr
          v-for="plan in planValues"
          :key="plan"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            {{ plan }}
          </th>
          <td class="py-4 px-6">${{ prices[plan].cost }}</td>
          <td class="py-4 px-6">${{ prices[plan].taxes }}</td>
          <td class="py-4 px-6">
            ${{ prices[plan].cost + prices[plan].taxes }}
          </td>
        </tr>
        <tr
          v-if="isUltd"
          v-for="phone in phoneBills"
          :key="phone"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            {{ phone.name }} phone
          </th>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6">${{ phone.cost }}</td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            Internet Total
          </th>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6">${{ totalInternetPlan }}</td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            Phone Total
          </th>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6">
            {{ planValues.includes('current') ? `$${totalPhonePlan} with plan
            fee` : `$${totalPhonePlan}`}}
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white capitalize"
          >
            Total
          </th>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6"></td>
          <td class="py-4 px-6">${{ totalInternetPlan + totalPhonePlan }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        people: ["j", "p", "s", "v", "m"],
        internetPlan: "xfinity",
        phonePlans: {
          j: 'current',
          p: 'current',
          s: 'current',
          v: 'current',
          m: 'current',
        },
        phoneBills: {
          dad: {
            name: "dad",
            cost: 22,
          },
          mom: {
            name: "mom",
            cost: 10,
          },
          vince: {
            name: "vince",
            cost: 10,
          },
        },
        prices: {
          current: {
            cost: 20,
            taxes: 6,
          },
          start: {
            cost: 30,
            taxes: 7,
          },
          more: {
            cost: 40,
            taxes: 8,
          },
        },
      };
    },
    computed: {
      planValues() {
        return Object.values(this.phonePlans);
      },
      isUltd() {
        return (
          this.planValues.includes("start") || this.planValues.includes("more")
        );
      },
      getInternetCost() {
        if (!this.internetPlan) return { cost: 0, taxes: 0 };
        if (this.internetPlan === "verison") {
          if (this.isUltd) return { cost: 65, taxes: 7 };
          return {
            cost: 90,
            taxes: 9,
          };
        }
        return { cost: 125, taxes: 10 };
      },
      getPhonePlans() {
        if (this.isUltd) {
          const ent = Object.entries(this.phonePlans);
          for (let i = 0; i < ent.length; i++) {
            const [key, val] = ent[i];
            if (val === "current") delete this.phonePlans[key];
          }
        }
        return ["current", "start", "more"];
      },
      totalInternetPlan() {
        return this.getInternetCost.cost + this.getInternetCost.taxes;
      },
      totalPhonePlan() {
        const total = this.planValues
          .map((plan) => this.prices[plan].cost + this.prices[plan].taxes)
          .reduce((a, b) => a + b, 0);
        if (this.planValues.includes("current")) return total + 86;
        return total + 42;
      },
    },
    methods: {
      checkPhonePlan(plan) {
        if (plan === "current") {
          for (let i = 0; i < this.people.length; i++) {
            const key = this.people[i];
            this.phonePlans[key] = "current";
          }
        }
      },
      disableCurrent(plan) {
        if (this.planValues.length) {
          if (this.isUltd) return plan === "current";
          return plan !== "current";
        }
        return false;
      },
    },
  }).mount("#app");
</script>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
  }
  #app {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
