---
import AppFooter from "@/components/AppFooter.astro";
import AppHead from "@/components/AppHead.astro";
import AppNav from "@/components/AppNav.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" data-theme="dark">
  <head>
    <AppHead title={title} description={description} />
  </head>
  <body
    class="bg-background text-default flex min-h-screen flex-col justify-around"
  >
    <AppNav />

    <slot />

    <AppFooter />
  </body>
</html>
