*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 3rem 4rem 3rem;
  justify-content: space-around;
}

.col {
  flex: 0 0 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px 0px;
  background-color: #fefefe;
  border-radius: 1rem;
  margin-bottom: 4rem;
  max-width: 16rem;
}

@media (min-width: 768px) {
  .row {
    max-width: 768px;
    margin: auto;
  }
  .col {
    max-width: 36rem;
  }
}
